
*{
    margin:0px;
    padding-top:0px;
    padding-bottom: 10px;
    
}
.background1{
    background-image:url(bg1.jpg);
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;     
}
#background2{
    background-image:url(bg2.jpg); 
    height: 750px;
}
#background3{
     background-image:url(img11.jpg); 
    
}

.first{
    color: white;
    text-align:center;
    padding-top: 200px; 
    font-family:'Times New Roman', Times, serif;
}
ul li{ 
    display:inline-block;
    padding-top: 15px;
    padding-left: 35px;
    font-size: 20px;
    color:white;
    cursor: pointer;      
}
li:hover{
    color: green;
}
#forest{
    font-size: 40px;
    padding-right: 700px;
    border:none;    
    padding-top:50px;  
}  
@media screen and (max-width: 941px) {
    
    ul li {
      float: none;
      width: 100%;
      margin-top: 1px;
      padding-bottom: 1px;
    }
    .first{
        padding-top:80px;
    }
    #background2{
        height:1800px;
    }
    #background3{
        height:1800px;
    }
    .second{
    padding-left: 0px;

    }
    
  }
#button{
    font-size: 18px;
    color:rgb(133, 207, 133);
    border-radius: 20px;
    padding:15px;
    cursor: pointer;
}
#submit{
    font-size: 18px;
    color: ivory;
    background-color: rgb(133, 207, 133);
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
}
#button:hover{
    background-color: black;
}
#submit:hover{
    background-color: black;
}
.second{
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    padding-left: 100px;
}
.third{
    display:inline-flex;
}

.fourth{
    text-align: justify;
    text-justify: inter-word;
    margin:70px;
    margin-top: 100px;
}
.flex{
    text-align: center;
    text-justify: inter-word;
     padding-top: 50px;
     background-color: white;
     border:1px;
    box-shadow: 0 0 2px rgb(20, 20, 20);
    height: 170px;
    width: 350px;
    margin: 15px;

}
.main-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.footer{
    border:none;
    background-color: rgb(49, 150, 49);
    text-align:center;
    height: 200px;
    padding-top: 50px;
    color:white;
}
#green{
    padding-top: 30pxx;
    border:1px, solid green;
    background-color: green;
    height:150px;
    width:100%;
    display:inline-block;
}

.flex0{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: column;
     text-align: center;
     padding-top: 50px;
     padding:30px;
     background-color: white;
     color:black;
     border:1px;
     border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(8, 8, 8);
    height: 100px;
    width: 500px;
    margin: 15px;

}
.main{
    display: inline-flex;  
    margin-left: 150px;
    justify-content: center;
}

.main1{
    display: inline-flex;  
    margin-right: 200px;
}

.main2{
    display: inline-flex;  
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
    margin-right: 0px;
    
}
.img{
    margin-right: 0px;
}

#padding{
    padding-top:0px ;
    margin-left: 50px;
    font-size: 30px;
    padding-right: 70px;
}


.flex1{
     text-align: center;
     padding-top: 100px;
     padding:30px;
     background-color: white;
     color:black;
     border:1px;
    box-shadow: 0 0 6px rgb(20, 20, 20);
    height: 300px;
    width: 200px;
    margin: 35px;
   
}
.flex2{
     text-align: left;
     padding-top: 30px;
     padding:20px;
     background-color: white;
     color:black;
     border:1px;
    box-shadow: 0 0 6px rgb(20, 20, 20);
    height: 450px;
    width: 300px;
    margin: 15px;
   
}
.flex3{
    color:black;
    border:none;
   text-align: left;
   height: 450px;
   width: 250px;
   margin: 60px;
  
}
.flex4{
    color:black;
    border:none;
   text-align: left;
   height: 450px;
   width: 250px;
   margin: 10px;
   
  
}
.image{
    
    width:100%;
    height:100%;
    overflow: hidden;
}

.texts{  
    background-color: rgb(226, 224, 224);
    width:500px;
    border-width: 2px;
    margin: 5px;
    font-size: 15px;
    padding-top: 3px;
}
#messages{
    height:200px;
    
}

#send{
    background-color: rgb(0, 255, 85);
    border-radius: 10px;
}

h1{
    color:green;
}
.map{
    
    margin:10px;
}
.footer1{
    padding-top: 50px;
    background-color: rgb(49, 150, 49);
    height: 200px;
    text-align: center;
    
}



